DATABASE_URL=postgres://graphein:graphein@localhost:15432/graphein

SLACK_BOT_TOKEN=xoxb-xxx
SLACK_SIGNING_SECRET=xxx
SLACK_CLIENT_ID=xxx
SLACK_CLIENT_SECRET=xxx

GEMINI_API_KEY=xxx

JWT_SECRET=xxx
BASE_URL=http://localhost:3000

SLACK_SOCKET_MODE="true"
SLACK_APP_TOKEN="xapp-"
